<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
        <exm>
            <subscriptionManager type="Sitecore.EmailCampaign.Cm.SubscriptionManager, Sitecore.EmailCampaign.Cm" set:type="Sitecore.Support.EmailCampaign.Cm.SubscriptionManager, Sitecore.Support.416731"/>
        </exm>
    </sitecore>
</configuration>